.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.card {
  /* background-color: #fffbf4; */
  background-color: #f2f2e8;

  width: 50px !important;
  height: 50px !important;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px !important;
  line-height: 40px !important;

  box-shadow: inset 0.3em 0.3em 0.6em rgba(256,256,256,0.5), inset -0.075em -0.075em 0.075em rgba(0,0,0,0.3);

  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.content {
  text-align: center;
  padding: 12.5% !important;
}

.ui.grid>.row>.column {
  padding-top: 1rem;
}

.tile.container.header {
  text-align: center;
}

.board {
  width: 850px;
  height: 850px;
  margin: auto;
  display: block;
}

.table {
  display: flex;
  flex-direction:row;
}

img {
  margin: auto;
  z-index: 1 !important;
}

.table {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 0%;
  z-index: 2 !important;
}

.tableboard {
  position: relative;
  margin: auto;
  width: 850px;
}

.tablesquare {
  visibility: hidden;
}

td {
  width: 50px;
  height: 50px;
}
