.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



h1 {
  font-family: 'Asar', serif;
}

h2 {
  /* font-family: 'Asar', serif; */
}

.table {
  padding: 20px;
  display: inline-block !important;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

td {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-width: 30px;
  border: 1px solid black;
  background: #fff;
  overflow: hidden;
  position: relative;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  /* padding: 2%; */
}

input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  font-family: 'Asar', serif;
  display: inline;
  box-sizing: border-box;
}

input[type=text]:focus {
    /* background-color: lightblue; */
    outline: none;
    border-bottom: 1px solid #4F8987;
}

#modal {
  margin: 20px;
}

.navlink {
  padding: 20px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  background-color: hotpink;
  max-width: 1050px;
  /* display: inline-block; */
}

#toggle {
  width: 30px;
  height: 30px;
  background: #000;
  border-top: 30px solid #fff;
  border-right: 30px solid transparent;
}

.number {
  font-size: 10px;
  color: rgba(0,0,0,.4) !important;
  position: absolute;
  top: 0px;
  left: 1px;
}

.letter {
  font-size: 16px !important;
  line-height: 10px !important;
  position: absolute;
  left: 30%;
  top: 40%;
  color: #000;
  z-index: 3;
  font-family: 'Source Code Pro', monospace;
}

.clues {
  height: 400px;
  overflow-y: scroll;
  margin: 25px;
  display: inline-block;
  background-color: yellow;
  padding-left: 0;
}

.clues-container {
  /* margin: 25px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: limegreen;
  /* display: inline-block; */
}

a.ui.black.circular.label {
  display: inline-block;
}

a.ui.black.circular.label:hover {
  cursor: default !important;
}

/* #bye {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
