.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.card {
  width: 50px;
  height: 50px;
  text-align: center;
}

.content {
  width: 50px;
  text-align: center;
}

.ui.grid>.row>.column {
  padding-top: 1rem;
}

.tile.container.header {
  text-align: center;
}

.board {
  width: 850px;
  height: 850px;
  margin: auto;
  display: block;
}

.table {
  display: flex;
  flex-direction:row;
}



/* .ui.grid>.row>.column.square  {
  z-index: 2;
  margin: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  width: 50px !important;

} */

img {
  position: absolute;
  z-index: 1;
  margin: auto;
  display: block;
}
